<footer class="w-full border-t border-slate-200 text-left">
  <div class="mx-auto flex max-w-9xl flex-col px-4 py-20 lg:flex-row lg:px-8">
    <div class="mb-8 flex w-full flex-col space-y-4 text-center lg:w-1/2 lg:text-left">
      <div class="flex justify-center lg:justify-start">{{ partial "logo.html" }}</div>
      <p>Stories and tips from using Nix in production.</p>
    </div>
    <div class="flex w-full flex-col text-center lg:w-1/2 lg:flex-row lg:text-left">
      <div class="mb-12 flex w-full flex-col px-2 lg:mb-0 lg:w-1/3"></div>
      <div class="mb-12 flex w-full flex-col px-2 lg:mb-0 lg:w-1/3">
        <div class="mb-4 text-sm font-semibold">NixTips</div>
        <div class="flex flex-col space-y-3 font-semibold">
          <a class="text-slate-600 hover:text-slate-600" href="/">Home</a>
          <a class="text-slate-600 hover:text-slate-600" href="/blog">Blog</a>
        </div>
      </div>
      <div class="mb-12 flex w-full flex-col px-2 lg:mb-0 lg:w-1/3">
        <div class="mb-4 text-sm font-semibold">Contact</div>
        <div class="flex flex-col space-y-3 font-semibold">
          <a class="text-slate-600 hover:text-slate-600" href="/contact">Contact</a>
        </div>
      </div>
    </div>
  </div>
  <div class="mx-auto max-w-9xl border-t border-slate-200 text-sm">
    <div class="flex justify-between p-8">
      <p>
        &copy;
        {{ dateFormat "2006" now }}
        <a href="https://nixtips.io" target="_blank" class="text-slate-600 hover:text-slate-600"
          >NixTips</a
        >
      </p>
      <div class="flex items-center space-x-2">
        <a href="{{ .Site.Params.instagram }}" target="_blank">
          <img src="/images/instagram.svg" />
        </a>
        <a href="{{ .Site.Params.linkedin }}" target="_blank">
          <img src="/images/linkedin.svg" />
        </a>
      </div>
    </div>
  </div>
</footer>
