<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {{ partial "head/page_title" . }}

  {{ if eq .Section "blog" }}

    {{ if (eq .Params.section "list") }}
      {{ partial "head/meta_blog_list.html" . }}
    {{ else }}
      {{ partial "head/meta_blog_post.html" . }}
    {{ end }}

  {{ else }}
    {{ partial "head/meta.html" . }}
  {{ end }}

  {{ partial "head/links.html" . }}
  {{ partialCached "head/css.html" . }}
  {{ partialCached "head/js.html" . }}
</head>
