{{ define "main" }}
  <main class="pt-16">
    <div class="flex flex-col">
      <div class="flex flex-col lg:min-h-[300px] lg:flex-row">
        <div
          class="mx-auto flex flex-col px-4 pb-12 pt-16 text-center sm:px-8 lg:w-3/5 lg:justify-center lg:pb-0 lg:text-left"
        >
          <div class="flex flex-col lg:min-h-[300px] lg:flex-row">
            <div class="mx-auto flex flex-col text-center lg:w-4/5 lg:justify-center lg:text-left">
              {{ partial "components/section_title" (dict
                "supertitle" "Blog"
                "title" "The Blog"
                "subtitle" "Stories and tips from using Nix in production."
                "alignment" "center"
                )
              }}
            </div>
          </div>
        </div>
      </div>

      <div class="border-t bg-gray-50 py-24">
        <div class="mx-auto max-w-7xl">
          {{ partial "latest-blog-post.html" . }}
        </div>
      </div>

      {{ $page := after 1 (where .Site.RegularPages "Section" "blog" ) }}
      {{ with $page }}
        <div class=" border-t border-slate-200">
          <div class="mx-auto flex max-w-7xl flex-col py-24">
            <h5
              class="mx-auto mb-8 w-full px-4 text-2xl font-semibold sm:px-8 md:w-2/3 md:px-8 lg:w-full"
            >
              All blog posts
            </h5>
            <div class="justify-left flex flex-col space-y-4 px-4 sm:px-8 md:px-12 lg:px-4">
              {{ $paginator := .Paginate (after 1 (where .Site.RegularPages "Section" "blog" )) }}
              <div class="mx-auto flex flex-col md:w-2/3 lg:w-full lg:flex-row">
                {{ range $paginator.Pages | first 3 }}
                  <div class="w-full pb-12 md:mx-auto md:w-full lg:mx-0 lg:w-1/3 lg:px-4">
                    <a href="{{ .RelPermalink }}">
                      <img
                        src="{{ .Params.featured_image }}/{{ .Params.slug }}.webp?key=featured-image-home"
                        alt="{{ .Params.title }} image"
                        class="w-full rounded-2xl"
                      />
                    </a>
                    <ul
                      class="flex list-none flex-row flex-wrap gap-3 pb-2 pt-5 font-semibold text-sky-500"
                    >
                      {{ range .Params.tags }}
                        <li>{{ . }}</li>
                      {{ end }}
                    </ul>
                    <a href="{{ .RelPermalink }}"
                      ><h5 class="pb-2 text-2xl font-semibold">{{ .Title }}</h5></a
                    >
                    <p class="mb-8 text-base font-normal">
                      {{ .Params.short_excerpt }}
                    </p>
                    {{ partial "components/post_author" . }}
                  </div>
                {{ end }}
              </div>
              <div class="mx-auto flex flex-col md:w-2/3 lg:w-full lg:flex-row">
                {{ range $paginator.Pages | after 3 }}
                  <div class="w-full pb-12 md:mx-auto md:w-full lg:mx-0 lg:w-1/3 lg:px-4">
                    <a href="{{ .RelPermalink }}">
                      <img
                        src="{{ .Params.featured_image }}/{{ .Params.slug }}.webp?key=featured-image-home"
                        alt="{{ .Params.title }} image"
                        class="w-full rounded-2xl"
                      />
                    </a>
                    <ul
                      class="flex list-none flex-row flex-wrap gap-3 pb-2 pt-5 font-semibold text-sky-500"
                    >
                      {{ range .Params.tags }}
                        <li>{{ . }}</li>
                      {{ end }}
                    </ul>
                    <a href="{{ .RelPermalink }}"
                      ><h5 class="pb-2 text-2xl font-semibold">{{ .Title }}</h5></a
                    >
                    <p class="mb-8 text-base font-normal">
                      {{ .Params.short_excerpt }}
                    </p>
                    {{ partial "components/post_author" . }}
                  </div>
                {{ end }}
              </div>
            </div>
            <div class="mx-auto max-w-7xl">{{ partial "pagination_controls.html" . }}</div>
          </div>
        </div>
      {{ end }}

      {{ partial "consultancy.html" }}
    </div>
  </main>
{{ end }}
