{{ define "main" }}
  <section id="main" class="mx-auto max-w-[830px] px-8 pt-28 lg:px-0">
    <article id="content">
      <div class="pt-24">
        <ul class="flex list-none justify-center gap-2 pb-4 text-base font-semibold text-sky-500">
          {{ range .Params.tags }}
            <li>{{ . }}</li>
          {{ end }}
        </ul>
      </div>
      <h1 id="title" class="pb-5 text-center text-4xl font-semibold">{{ .Params.Title }}</h1>
      <p class="pb-16 text-center text-xl font-normal text-main">{{ .Params.short_excerpt }}</p>
      <div>
        <img
          src="{{ .Params.featured_image }}/{{ .Params.slug }}.webp?key=featured-image-detail"
          alt="{{ .Params.title }} image"
          class="mb-6 rounded-2xl"
        />
      </div>
      <div class="mb-16 flex items-center justify-between">
        {{ partial "components/post_author" . }}
        <span class="text-sm font-semibold"
          >Published on {{ .Params.date | time.Format "Jan 2, 2006" }}</span
        >
      </div>
      <div
        class="{{ `prose prose-lg prose-slate mx-auto border-b border-gray-200 pb-16
          prose-headings:mb-6 prose-headings:mt-14 prose-a:transition-colors prose-img:rounded-xl prose-img:w-full`
        }}"
      >
        {{ .Content }}
      </div>
    </article>
  </section>
  <aside id="meta">
    <div
      class="{{ if not .PrevInSection }}
        justify-end
      {{ else }}
        justify-between
      {{ end }} mx-auto my-20 flex max-w-[733px] flex-col items-center space-y-4 px-8 md:flex-row md:space-y-0 md:px-0"
    >
      {{ with .PrevInSection }}
        <a
          class="flex max-w-xs flex-col rounded-xl border border-gray-200 p-6 text-base text-main transition-colors hover:bg-gray-50 hover:text-main"
          href="{{ .RelPermalink }}"
        >
          <div class="mb-8 flex items-center justify-start gap-2 text-base">
            {{ partial "components/icon" (dict "name" "arrow-left" "class" "w-4 h-4 stroke-2 text-main") }}
            Previous
          </div>
          {{ .LinkTitle }}
        </a>
      {{ end }}
      {{ with .NextInSection }}
        <a
          class="flex max-w-xs flex-col rounded-xl border border-gray-200 p-6 text-right text-base text-main transition-colors hover:bg-gray-50 hover:text-main"
          href="{{ .RelPermalink }}"
        >
          <div class="mb-8 flex items-center justify-end gap-2 text-base">
            Next
            {{ partial "components/icon" (dict "name" "arrow-right" "class" "w-4 h-4 stroke-2 text-main") }}
          </div>
          {{ .LinkTitle }}</a
        >
      {{ end }}
    </div>
  </aside>
{{ end }}
