<div x-show="plan == 'packs'" class="mx-auto mt-12 max-w-2xl text-left">
  <div class="w-full rounded-2xl border border-slate-200 bg-white">
    <div
      class="flex flex-col items-center justify-between space-y-4 border-b border-gray-200 p-8 sm:flex-row sm:items-start sm:space-y-0"
    >
      <div>
        <div class="flex items-start justify-center sm:justify-start">
          <div class="mr-2 text-xl font-semibold text-slate-800">Credits packs</div>
        </div>
        <div>Maximum flexibility and no regular commitment.</div>
      </div>
      <div class="flex items-end space-x-1 leading-[52px]">
        <span class="self-start text-3xl leading-9 text-slate-800">€</span>
        <span class="text-[52px] font-semibold text-slate-800" x-text="packs[credits]"></span>
      </div>
    </div>
    <div
      class="flex flex-col items-center justify-between space-y-4 border-b border-gray-200 p-8 text-lg sm:flex-row sm:space-y-0"
    >
      <span class="font-semibold text-slate-800">Credits included:</span>
      <ul class="flex space-x-1.5">
        <li @click="changeCreditsAmount(2)">
          <label>
            <input
              type="radio"
              class="peer hidden"
              name="subs-credits"
              :checked="plan == 'packs' && credits == 2"
            />
            <div
              class="credits-radio peer-checked:border-2 peer-checked:border-fuchsia-400 peer-checked:text-fuchsia-500"
            >
              2
            </div>
          </label>
        </li>
        <li @click="changeCreditsAmount(6)">
          <label>
            <input
              type="radio"
              class="peer hidden"
              name="subs-credits"
              :checked="plan == 'packs' && credits == 6"
            />
            <div
              class="credits-radio peer-checked:border-2 peer-checked:border-fuchsia-400 peer-checked:text-fuchsia-500"
            >
              6
            </div>
          </label>
        </li>
        <li @click="changeCreditsAmount(12)">
          <label>
            <input
              type="radio"
              class="peer hidden"
              name="subs-credits"
              :checked="plan == 'packs' && credits == 12"
            />
            <div
              class="credits-radio peer-checked:border-2 peer-checked:border-fuchsia-400 peer-checked:text-fuchsia-500"
            >
              12
            </div>
          </label>
        </li>
        <li @click="changeCreditsAmount(24)">
          <label>
            <input
              type="radio"
              class="peer hidden"
              name="subs-credits"
              :checked="plan == 'packs' && credits == 24"
            />
            <div
              class="credits-radio peer-checked:border-2 peer-checked:border-fuchsia-400 peer-checked:text-fuchsia-500"
            >
              24
            </div>
          </label>
        </li>
      </ul>
    </div>
    <div class="border-b border-slate-200 p-8">
      <span class="mb-6 inline-block font-semibold uppercase text-slate-800">Features</span>
      <ul class="space-y-4">
        <li class="flex">
          <div class="mr-2 flex h-6 w-6 items-center justify-center rounded-full bg-green-100">
            {{ partial "components/done_icon.html" }}
          </div>
          <span
            >Run wind simulations with
            <span class="font-bold">8, 16 or 32 wind directions</span></span
          >
        </li>
        <li class="flex">
          <div class="mr-2 flex h-6 w-6 items-center justify-center rounded-full bg-green-100">
            {{ partial "components/done_icon.html" }}
          </div>
          <span>Export PDF report of the results</span>
        </li>
        <li class="flex">
          <div class="mr-2 flex h-6 w-6 items-center justify-center rounded-full bg-red-50">
            {{ partial "components/error_icon.html" }}
          </div>
          <span>Download processed data</span>
        </li>
        <li class="flex">
          <div class="mr-2 flex h-6 w-6 items-center justify-center rounded-full bg-red-50">
            {{ partial "components/error_icon.html" }}
          </div>
          <span>Download raw simulation data</span>
        </li>
        <li class="flex">
          <div class="mr-2 flex h-6 w-6 items-center justify-center rounded-full bg-red-50">
            {{ partial "components/error_icon.html" }}
          </div>
          <span>API access</span>
        </li>
      </ul>
    </div>
    <div class="p-8">
      <a
        class="btn btn-primary btn-md block w-full text-center"
        href="https://account.nablaflow.io/registration"
        target="_blank"
        >Get started</a
      >
    </div>
  </div>
</div>
