<div
  class="
{{ if and (isset . "alignment") (eq .alignment "left" ) }}
    text-left
  {{ else }}
    text-center mb-12 lg:mb-24 px-4 md:px-8
  {{ end }} {{ if isset . "class" }}{{ .class }}{{ end }} flex flex-col space-y-4"
>
  <p class="text-sm font-semibold text-fuchsia-500 lg:text-base">
    {{ with .supertitle }}{{ . }}{{ end }}
  </p>
  <h2 class="text-3xl font-semibold leading-tight lg:text-4xl">{{ .title }}</h2>
  <p class="text-lg font-normal leading-normal text-slate-600 lg:text-xl">
    {{ .subtitle | safeHTML }}
  </p>
</div>
