<div x-show="plan == 'subscription'" class="mx-auto mt-8 max-w-7xl">
  <div class="pb-8 text-center">
    <label class="relative inline-flex cursor-pointer items-center">
      <input
        type="checkbox"
        class="peer sr-only"
        :checked="type == 'annualy'"
        @click="toggleType"
      />
      <div
        class="peer h-6 w-11 rounded-full bg-gray-100 after:absolute after:left-[2px] after:top-0.5 after:h-5 after:w-5 after:rounded-full after:border after:border-slate-200 after:bg-white after:transition-all after:content-[''] peer-checked:bg-fuchsia-500 peer-checked:after:translate-x-full peer-checked:after:border-white peer-focus:ring-4 peer-focus:ring-fuchsia-300"
      ></div>
      <span class="ml-3 text-sm font-medium"
        >Prepaid annually <span class="font-semibold text-fuchsia-500">(Save 10%)</span></span
      >
    </label>
  </div>
  <div class="flex flex-col space-y-8 text-left lg:flex-row lg:space-x-8 lg:space-y-0">
    <div class="w-full rounded-2xl border border-slate-200 bg-white shadow-md">
      <div
        class="flex flex-col items-center justify-between border-b border-slate-200 p-8 sm:flex-row sm:items-start"
      >
        <div>
          <div class="flex items-start justify-center sm:justify-start">
            <div class="mb-2 mr-2 text-xl font-semibold text-slate-800 sm:mb-0">Basic plan</div>
            <div class="badge-popular-sm">Free trial available</div>
          </div>
          <div class="mb-4 sm:mb-0">With credits renewed monthly.</div>
        </div>
        <div class="flex items-end space-x-1 leading-[52px]">
          <span class="self-start text-3xl leading-9 text-slate-800">€</span>
          <span
            class="text-[52px] font-semibold text-slate-800"
            x-text="subscription[type][credits]"
          ></span
          ><span class="text-xl">/month</span>
        </div>
      </div>
      <div
        class="flex flex-col items-center justify-between space-y-4 border-b border-slate-200 p-8 text-lg sm:flex-row sm:space-y-0"
      >
        <span class="font-semibold text-slate-800">Credits included:</span>
        <ul class="flex space-x-1.5">
          <li @click="changeCreditsAmount(2)">
            <label>
              <input
                type="radio"
                class="peer hidden"
                name="subs-credits"
                :checked="plan == 'subscription' && credits == 2"
              />
              <div
                class="credits-radio peer-checked:border-2 peer-checked:border-fuchsia-400 peer-checked:text-fuchsia-500"
              >
                2
              </div>
            </label>
          </li>
          <li @click="changeCreditsAmount(6)">
            <label>
              <input
                type="radio"
                class="peer hidden"
                name="subs-credits"
                :checked="plan == 'subscription' && credits == 6"
              />
              <div
                class="credits-radio peer-checked:border-2 peer-checked:border-fuchsia-400 peer-checked:text-fuchsia-500"
              >
                6
              </div>
            </label>
          </li>
          <li @click="changeCreditsAmount(12)">
            <label>
              <input
                type="radio"
                class="peer hidden"
                name="subs-credits"
                :checked="plan == 'subscription' && credits == 12"
              />
              <div
                class="credits-radio peer-checked:border-2 peer-checked:border-fuchsia-400 peer-checked:text-fuchsia-500"
              >
                12
              </div>
            </label>
          </li>
          <li @click="changeCreditsAmount(24)">
            <label>
              <input
                type="radio"
                class="peer hidden"
                name="subs-credits"
                :checked="plan == 'subscription' && credits == 24"
              />
              <div
                class="credits-radio peer-checked:border-2 peer-checked:border-fuchsia-400 peer-checked:text-fuchsia-500"
              >
                24
              </div>
            </label>
          </li>
          <li @click="changeCreditsAmount(48)">
            <label>
              <input
                type="radio"
                class="peer hidden"
                name="subs-credits"
                :checked="plan == 'subscription' && credits == 48"
              />
              <div
                class="credits-radio peer-checked:border-2 peer-checked:border-fuchsia-400 peer-checked:text-fuchsia-500"
              >
                48
              </div>
            </label>
          </li>
        </ul>
      </div>
      <div class="border-b border-slate-200 p-8">
        <span class="mb-6 inline-block font-semibold uppercase text-slate-800">Features</span>
        <ul class="space-y-4">
          <li class="flex">
            <div class="mr-2 flex h-6 w-6 items-center justify-center rounded-full bg-green-100">
              {{ partial "components/done_icon.html" }}
            </div>
            <span
              >Run wind simulations with
              <span class="font-bold">8, 16 or 32 wind directions</span>
            </span>
          </li>
          <li class="flex">
            <div class="mr-2 flex h-6 w-6 items-center justify-center rounded-full bg-green-100">
              {{ partial "components/done_icon.html" }}
            </div>
            Export PDF report of the results
          </li>
          <li class="flex">
            <div class="mr-2 flex h-6 w-6 items-center justify-center rounded-full bg-green-100">
              {{ partial "components/done_icon.html" }}
            </div>
            Download processed data
          </li>
          <li class="flex">
            <div class="mr-2 flex h-6 w-6 items-center justify-center rounded-full bg-green-100">
              {{ partial "components/done_icon.html" }}
            </div>
            Download raw simulation data
          </li>
        </ul>
      </div>
      <div class="p-8">
        <a
          href="https://account.nablaflow.io/registration"
          target="_blank"
          rel="noreferrer"
          class="btn btn-primary btn-md flex w-full items-center justify-center gap-2"
          ><span>Start your free trial</span>
          {{ partial "components/icon" (dict "name" "arrow-right" "class" "w-5 h-5 stroke-2 text-white") }}
        </a>
      </div>
    </div>
    <div class="flex w-full flex-col rounded-lg border border-slate-200 bg-white shadow-md">
      <div class="flex justify-between border-b border-slate-200 p-8">
        <div>
          <div class="flex items-start">
            <div class="mr-2 text-[20px] font-semibold text-slate-800">Enterprise plan</div>
          </div>
          <div>Custom solution that fits your workload.</div>
        </div>
      </div>
      <div
        class="flex items-center justify-between border-b border-slate-200 p-8 text-lg font-semibold"
      >
        <span class="font-semibold text-slate-800">Credits included:</span
        ><span class="leading-9 text-slate-800">Custom amount</span>
      </div>
      <div class="flex-1 border-b border-slate-200 p-8">
        <span class="mb-2 inline-block font-semibold uppercase text-slate-800">Features</span>
        <span class="mb-6 block"
          >Everything on our <span class="font-bold">Basic plan</span> plus:</span
        >
        <ul class="space-y-4">
          <li class="flex">
            <div class="mr-2 flex h-6 w-6 items-center justify-center rounded-full bg-green-100">
              <svg
                color="#16A34A"
                viewBox="0 0 1024 1024"
                style="display:inline-block;
                              stroke:currentColor;
                              fill:currentColor;
                              width:14px;
                              height:14px"
              >
                <path d="M1009 237.236l-42.426-42.426-662.666 562.666v100l42.426 42.426z"></path>
                <path
                  d="M895.864 124.098l-549.53 549.53-218.198-218.196-113.136 113.136 288.908 288.908 662.666-662.666z"
                ></path>
                <path
                  d="M1019.606 226.63l-113.136-113.138c-2.812-2.812-6.628-4.394-10.606-4.394s-7.792 1.58-10.606 4.394l-538.924 538.924-207.59-207.59c-2.814-2.812-6.628-4.394-10.606-4.394s-7.794 1.58-10.606 4.394l-113.138 113.136c-5.858 5.858-5.858 15.356 0 21.212l331.334 331.334c2.928 2.93 6.768 4.394 10.606 4.394s7.678-1.464 10.606-4.394l662.666-662.666c5.86-5.858 5.86-15.354 0-21.212zM346.334 878.688l-310.12-310.118 91.924-91.924 207.59 207.59c5.858 5.858 15.356 5.858 21.212 0l538.924-538.924 91.924 91.924-641.454 641.452z"
                ></path>
              </svg>
            </div>
            Dedicated consultancy hours
          </li>
          <li class="flex">
            <div class="mr-2 flex h-6 w-6 items-center justify-center rounded-full bg-green-100">
              <svg
                color="#16A34A"
                viewBox="0 0 1024 1024"
                style="display:inline-block;
                              stroke:currentColor;
                              fill:currentColor;
                              width:14px;
                              height:14px"
              >
                <path d="M1009 237.236l-42.426-42.426-662.666 562.666v100l42.426 42.426z"></path>
                <path
                  d="M895.864 124.098l-549.53 549.53-218.198-218.196-113.136 113.136 288.908 288.908 662.666-662.666z"
                ></path>
                <path
                  d="M1019.606 226.63l-113.136-113.138c-2.812-2.812-6.628-4.394-10.606-4.394s-7.792 1.58-10.606 4.394l-538.924 538.924-207.59-207.59c-2.814-2.812-6.628-4.394-10.606-4.394s-7.794 1.58-10.606 4.394l-113.138 113.136c-5.858 5.858-5.858 15.356 0 21.212l331.334 331.334c2.928 2.93 6.768 4.394 10.606 4.394s7.678-1.464 10.606-4.394l662.666-662.666c5.86-5.858 5.86-15.354 0-21.212zM346.334 878.688l-310.12-310.118 91.924-91.924 207.59 207.59c5.858 5.858 15.356 5.858 21.212 0l538.924-538.924 91.924 91.924-641.454 641.452z"
                ></path>
              </svg>
            </div>
            Organisation access control
          </li>
          <li class="flex">
            <div class="mr-2 flex h-6 w-6 items-center justify-center rounded-full bg-green-100">
              {{ partial "components/done_icon.html" }}
            </div>
            API access
          </li>
        </ul>
      </div>
      <div class="p-8">
        <a href="#contact" class="btn btn-primary btn-md block w-full text-center">Contact us</a>
      </div>
    </div>
  </div>
</div>
